fastapi
uvicorn
pandas
numpy==1.21.6  # Compatible version with Python <3.12
scikit-learn
pydantic
requests
joblib
sqlalchemy
mysql-connector-python  # or PyMySQL
bcrypt
pyjwt
jose
passlib
xgboost
google-generativeai
pytesseract
python-multipart
